doctype html
html
-var serverURL="http://t5q583.koding.io:1992/"
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap-social.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js")
    
  body
  block content
