doctype html
html
-var serverURL="http://t5q583.koding.io:1992/"
  head
    title=  title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/comment_page.css"  )
    script(src = "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js", type = "text/javascript")
    script(src = "http://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js", type = "text/javascript")
    script(src = "/javascripts/comment.js", type = "text/javascript") 
  body
    block content
