//
   Created by Qiushuo on 4/22/2016.

.Thread_View
    .thread
        .avatar-back
            img.avatar(data-bind = "attr: { 'src': _user_image_url}")
        .thread-entry
            .thread-head
                .thread_items
                    p.user_name(data-bind = "text: _user_name") submitter
                    p.post_time(data-bind = "text: _past_time")
                .thread_options
                    a.save
                        i.fa.fa-heart
                    a.delete(data-bind = "visible: is_deletable")
                        i.fa.fa-trash

            .thread-body
                h3(data-bind = "text: _title") This is title
                pre(data-bind = "text: _entry")
                    | you know what about it??
                    | you know what about it??
                    | you know what about it??
                    | you know what about it??
            .thread-footer
                .score_buttons
                    p(data-bind = "text: _likes")
                    a#thread_upvote(data-bind="click: upvote")
                        i.fa.fa-chevron-up
                    a#thread_downvote(data-bind="click: downvote")
                        i.fa.fa-chevron-down
                .thread-ultility
                    .list_control
                        a#filter.ultility_button
                            i.fa.fa-filter
                        ul.filter-types
                            li.low-pointshow low point thread
                            li.recent-days show recent post
                    .list_control
                        a#sort.ultility_button
                            i.fa.fa-sort
                        ul.sort-types
                            li#sortbytime(data-bind = "click: sortByTime")
                                i.fa.fa-clock-o
                                p most recent
                            li.score(data-bind = "click: sortByScore")
                                i.fa.fa-thumbs-up
                                p best
                            //li.score
                              i.fa.fa-comments-o
                              p most-commented
                    a#sort-order.ultility_button(data-bind = "click: reverseSort")
                        i.fa.fa-sort-amount-desc
    .comment-block(data-bind = "foreach: _comment_list")
        .comment
            .avatar
                img.pic
                img.pos(data-bind = "attr: { 'src': _user_image_url}")
                //joint: branches
            //.joint
               .joint-inner
                 i.fa.fa-minus
            .comment-entry
                .head-bar
                    p(data-bind="text: _user_name" ).user_name user id
                    .user_identity
                    p.last_edit(data-bind = "text: _past_time") poseted sometimes ago
                    .button_collection
                        //.button_name_preview reply
                        a.reply
                            i.fa.fa-reply
                        a.save
                            i.fa.fa-heart
                        a.share
                            i.fa.fa-share
                        a.hide
                            i.fa.fa-eye-slash
                        a.delete(href = "#" data-bind = "click: $parent.deleteComment, visible: _editable")
                            i.fa.fa-trash
                //end of head bar
                .content
                    .comment-view
                        pre(data-bind="text: _entry" ).commments something something other thing
                        button.edit_button(data-bind = "visible: _editable, click: edit_comment")
                            i.fa.fa-pencil-square-o
                    .edit-view
                        textarea(data-bind="value: _entry_cache" ).text-edit
                        .submit_buttons
                            button.submit_change(data-bind = "click: submit_edition") submit
                            button.cancel_change(data-bind = "click: cancelsubmit") cancel
                //content
                .comment_footer
                    .score_buttons
                        a.comment_upvote(data-bind = "click: upvote")
                            i.fa.fa-chevron-up
                        a.comment_downvote(data-bind = "click: downvote")
                            i.fa.fa-chevron-down
                    //score buttons
                    .status
                        p score
                        p.score(data-bind = "text: _like")
                        p replies
                        p.replies(data-bind = "text: _reply_list.length")
                    //status
                //comment_footer

        //comment
    .thread_reply
        p#reply-parent reply to thread
        textarea#reply(data-bind = "value: _current_reply, valueUpdate: 'afterkeydown'")
        .reply_buttons
            button#submit_comment(data-bind = "click: reply2Thread") submit
            button#reset_comment(data-bind = "click: resetReply") reset


