.profile
    .user_data
        .profile_photo
        p user id
        p Registered date
        .statistic
            h3 statistic
            ul.commenting_status
                li
                    p posts
                    p 0
                li
                    p replies
                    p 0
                li
                    p last-online time
                    p
    .comments_widget
        h2 Browse comments
        .comment-view
            .comment-view-head
                ul.comment-filter
                    li
                        i.fa.fa-comment
                        a your posts
                    li
                        i.fa.fa-comments
                        a your comments
                    li
                        i.fa.fa-heart
                        a saved
                    li
                        i.fa.fa-clock-o
                        a recented viewed
                .button-set
                    a#filter-type
                        i.fa.fa-filter
                    a#sorting-order
                        i.fa.fa-sort
            .comment-show
                .comment
                    h3.title something
                .comment
                .comment
                .comment