//
   Created by Qiushuo on 4/20/2016.
.user_bar
    //for user who did not log in
    .guest
        .head-info
            .id
                p You are not login
        .end
            .button-set
                button.user_bar_button#login_user Log in
                button.user_bar_button#signin_user Sign in
    //for log in user
    .user
        .head-info
            .avatar
            .id your user_name
        .end
            .button-set
                button.user_bar_button#logout Logout