//
   Created by Qiushuo on 4/20/2016.
.user_bar
    //for user who did not log in
    .guest
        .head-info
            .id
                p You are not login
        .end
            .button-set
                button.user_bar_button#Sinup_user Sign up
                button.user_bar_button#Signin_user Sign in
    //for log in user
    .user
        .head-info
            .avatar
            .id(data-bind = "text: _user_name") your user_name
        .end
            .button-set
                button.user_bar_button#logout Logout