//
   Created by Qiushuo on 4/26/2016.

doctype
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
        link(href="stylesheets/user_control_panel.css", rel="stylesheet")

        script(src ="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" type ="text/javascript")
        script(src ="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js" type ="text/javascript")
        script(src = "js/vendor/knockout-3.4.0.js" type ="text/javascript")
        script(src = "js/user_panel.js" type ="text/javascript")
        script(src = "js/showcase.js" type ="text/javascript")
        script(src = "js/login_panel.js" type = "text/javascript")
        script(src = "js/index.js" type ="text/javascript")
    body
        include jade-snippet/user_panel
        include jade-snippet/user_control