@import url(https://fonts.googleapis.com/css?family=Arimo);
/* line 17, ../sass/partial/index_showcase.scss */
a, a:hover {
  text-decoration: none;
}

/* line 21, ../sass/partial/index_showcase.scss */
section#main_pade {
  display: flex;
  flex-direction: column;
}
/* line 25, ../sass/partial/index_showcase.scss */
section#main_pade .container {
  width: 80em;
  align-self: center;
}
/* line 29, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar {
  display: flex;
  justify-content: center;
  height: 3em;
  background: #e0f7fa;
}
/* line 34, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar .container {
  width: 80em;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/* line 40, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar ul.filters {
  display: flex;
  list-style: none;
  margin: 0;
  height: 100%;
}
/* line 45, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar ul.filters li, section#main_pade .ultility-bar ul.filters li.active-filter {
  padding-left: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff9800;
}
/* line 53, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar ul.filters li a, section#main_pade .ultility-bar ul.filters li.active-filter a {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 60, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar ul.filters li a:hover {
  background: yellow;
}
/* line 64, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar ul.filters li p, section#main_pade .ultility-bar ul.filters li.active-filter p {
  margin: 0;
}
/* line 71, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar ul.filters li.active-filter {
  transform-origin: center bottom;
  transform: scaleY(1.2);
}
/* line 78, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar .addThead_widget {
  position: relative;
}
/* line 81, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar a.addThread {
  position: relative;
  align-self: center;
  height: 2.4em;
  width: 2.4em;
  background: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  box-shadow: 0px 3px 4px 1px rgba(20, 20, 20, 0.6);
}
/* line 95, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar .createThread {
  position: absolute;
  top: 1.2em;
  right: 1.2em;
  height: 14em;
  width: 16em;
  background: #64b5f6;
  box-sizing: border-box;
  padding: 1em;
  box-shadow: 0px 3px 16px 1px rgba(20, 20, 20, 0.6);
}
/* line 105, ../sass/partial/index_showcase.scss */
section#main_pade .ultility-bar .createThread h3 {
  margin: 0.3em;
}

/* line 115, ../sass/partial/index_showcase.scss */
.showcase {
  display: flex;
  flex-direction: column;
  width: 80em;
  align-self: center;
  padding-top: 0.4em;
}
/* line 121, ../sass/partial/index_showcase.scss */
.showcase .showcase-item {
  height: 10em;
  width: 100%;
  background: white;
  box-sizing: border-box;
  padding: 0.7em;
  box-shadow: 0px 3px 10px 1px rgba(20, 20, 20, 0.6);
  margin-top: 0.6em;
}
/* line 130, ../sass/partial/index_showcase.scss */
.showcase .showcase-item h2 {
  margin: 0.2em;
}
/* line 133, ../sass/partial/index_showcase.scss */
.showcase .showcase-item p {
  margin: 0.1em;
}
/* line 136, ../sass/partial/index_showcase.scss */
.showcase .showcase-item .thread-info {
  display: flex;
}
/* line 138, ../sass/partial/index_showcase.scss */
.showcase .showcase-item .thread-info p {
  margin-right: 1em;
}

/* line 11, ../sass/partial/user_panel.scss */
.user_bar {
  box-sizing: border-box;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0px 2px 4px 1px rgba(10, 10, 10, 0.5);
  background: white;
}
/* line 18, ../sass/partial/user_panel.scss */
.user_bar * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 37, ../sass/partial/user_panel.scss */
.user .head .avatar {
  width: 2.4em;
  height: 2.4em;
  background: black;
  margin-right: 1em;
}

/* line 48, ../sass/partial/user_panel.scss */
.end .button-set button {
  margin-right: 1em;
}

/* line 54, ../sass/partial/user_panel.scss */
button.user_bar_button {
  box-sizing: border-box;
  height: 2em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  background: #5c6bc0;
  border-radius: 4px;
  color: white;
  border: none;
}

/* line 26, ../sass/partial/login_panel.scss */
p, h1, h2, a {
  font-family: "Lato", sans-serif;
}

/* line 30, ../sass/partial/login_panel.scss */
input.login[type="text"], input.login[type="password"] {
  border-radius: 0.3em;
  border: none;
  padding: 0.3em;
  background: transparent;
  width: 12em;
}
/* line 36, ../sass/partial/login_panel.scss */
input.login[type="text"]:focus, input.login[type="password"]:focus {
  outline: none;
}

/* line 41, ../sass/partial/login_panel.scss */
button.login {
  background-color: #7777ff;
  border: none;
  padding: 0.8em;
  font-size: 1.2em;
  width: 100%;
}

/* line 49, ../sass/partial/login_panel.scss */
section.fullpage_cover {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 40;
  background: rgba(100, 100, 100, 0.4);
}

/* line 62, ../sass/partial/login_panel.scss */
.dialog {
  background-color: #eeeeee;
  width: 30em;
  height: 28em;
  border-radius: 0.4em;
  box-shadow: 0px 20px 80px 5px rgba(100, 100, 100, 0.7);
}
/* line 69, ../sass/partial/login_panel.scss */
.dialog .head {
  font-weight: bolder;
  box-sizing: content-box;
  height: 2.7em;
  background-color: #eeeeee;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
  border-top-right-radius: 0.4em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 89, ../sass/partial/login_panel.scss */
.dialog .dialog-body {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
}
/* line 93, ../sass/partial/login_panel.scss */
.dialog .dialog-body a.widget-select {
  padding: 0.3em;
  background-color: white;
  border: 2px solid blue;
}
/* line 97, ../sass/partial/login_panel.scss */
.dialog .dialog-body a.widget-select:first-child {
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  -moz-border-radius-bottomleft: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-right: none;
}
/* line 101, ../sass/partial/login_panel.scss */
.dialog .dialog-body a.widget-select:last-child {
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
/* line 105, ../sass/partial/login_panel.scss */
.dialog .dialog-body .input-widget {
  display: flex;
  flex-direction: column;
  align-items: left;
}
/* line 109, ../sass/partial/login_panel.scss */
.dialog .dialog-body .input-widget #signup-widget {
  display: none;
  flex-direction: column;
}

/* line 122, ../sass/partial/login_panel.scss */
#signin-widget {
  display: flex;
  flex-direction: column;
}
/* line 125, ../sass/partial/login_panel.scss */
#signin-widget .remember {
  display: flex;
  align-items: center;
}

/* line 133, ../sass/partial/login_panel.scss */
.input_back {
  background-color: white;
  width: 12em;
  border-radius: 4px;
  display: flex;
}
/* line 140, ../sass/partial/login_panel.scss */
.input_back:focus {
  outline: blue;
}
/* line 143, ../sass/partial/login_panel.scss */
.input_back .input_head {
  min-width: 3em;
  height: 1.4em;
  background: #64b5f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 160, ../sass/partial/login_panel.scss */
input#widget_type {
  opacity: 0;
}
/* line 162, ../sass/partial/login_panel.scss */
input#widget_type[disabled] ~ label {
  background: #aaaaaa;
}
/* line 168, ../sass/partial/login_panel.scss */
input#widget_type:checked ~ label #label-back:before {
  background: #fefefe;
  color: black;
}
/* line 172, ../sass/partial/login_panel.scss */
input#widget_type:checked ~ label #label-back:after {
  background: transparent;
  color: #cccccc;
}

/* line 182, ../sass/partial/login_panel.scss */
label#type_label {
  font-family: "Arimo", sans-serif;
}
/* line 184, ../sass/partial/login_panel.scss */
label#type_label #label-back {
  box-sizing: border-box;
  background: #26c6da;
  width: 8em;
  height: 1.8em;
  border-radius: 7px;
  display: flex;
  align-items: center;
  transition: background 0.8s;
}
/* line 193, ../sass/partial/login_panel.scss */
label#type_label #label-back:before {
  box-sizing: border-box;
  content: attr(data-checked);
  width: 50%;
  height: 100%;
  text-align: center;
  padding-top: 0.4em;
  transition: all 0.8s;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: #cccccc;
}
/* line 205, ../sass/partial/login_panel.scss */
label#type_label #label-back:after {
  box-sizing: border-box;
  content: attr(data-unchecked);
  width: 50%;
  height: 100%;
  text-align: center;
  padding-top: 0.4em;
  background: #fefefe;
  transition: background-color 0.8s;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 221, ../sass/partial/login_panel.scss */
button.next {
  margin-top: 0.8em;
}

/* line 1, ../sass/module/index-layout.scss */
ul.filter_control {
  display: flex;
  list-style-type: none;
}
/* line 5, ../sass/module/index-layout.scss */
ul.filter_control li.filter_button, ul.filter_control section#main_pade .ultility-bar ul.filters li.filter_button.active-filter, section#main_pade .ultility-bar ul.filters ul.filter_control li.filter_button.active-filter {
  background-color: #e7fff3;
}

/* line 10, ../sass/module/index-layout.scss */
.main_chunck {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 5, ../sass/partial/base.scss */
body {
  background-color: #f2f1f4;
}

/* line 17, ../sass/partial/showcase.scss */
section#main_pade {
  display: flex;
  flex-direction: column;
}
/* line 21, ../sass/partial/showcase.scss */
section#main_pade .container {
  width: 80em;
  align-self: center;
}
/* line 25, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar {
  display: flex;
  justify-content: center;
  height: 3em;
  background: #e0f7fa;
}
/* line 30, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar .container {
  width: 80em;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/* line 36, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar ul.filters {
  display: flex;
  list-style: none;
  margin: 0;
  height: 100%;
}
/* line 41, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar ul.filters li, section#main_pade .ultility-bar ul.filters li.active-filter {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff9800;
  transform-origin: center bottom;
  transition: transform 0.3s;
}
/* line 52, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar ul.filters li a, section#main_pade .ultility-bar ul.filters li.active-filter a {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 59, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar ul.filters li a:hover {
  background: yellow;
}
/* line 63, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar ul.filters li p, section#main_pade .ultility-bar ul.filters li.active-filter p {
  margin: 0;
}
/* line 70, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar ul.filters li.active-filter {
  transform-origin: center bottom;
  transform: scale(1.2);
  box-shadow: 0px 0px 3px 1px rgba(10, 20, 10, 0.4);
}
/* line 78, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar .addThead_widget {
  position: relative;
}
/* line 81, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar a.addThread {
  position: relative;
  align-self: center;
  height: 2.4em;
  width: 2.4em;
  background: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  box-shadow: 0px 3px 4px 1px rgba(20, 20, 20, 0.6);
}
/* line 95, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar .createThread {
  position: absolute;
  top: 1.2em;
  right: 1.2em;
  height: 14em;
  width: 16em;
  background: #64b5f6;
  box-sizing: border-box;
  padding: 1em;
  box-shadow: 0px 3px 16px 1px rgba(20, 20, 20, 0.6);
}
/* line 105, ../sass/partial/showcase.scss */
section#main_pade .ultility-bar .createThread h3 {
  margin: 0.3em;
}

/* line 115, ../sass/partial/showcase.scss */
.showcase {
  display: flex;
  flex-direction: column;
  width: 80em;
  align-self: center;
  padding-top: 0.4em;
}
/* line 121, ../sass/partial/showcase.scss */
.showcase .showcase-item {
  height: 10em;
  width: 100%;
  background: white;
  box-sizing: border-box;
  padding: 0.7em;
  box-shadow: 0px 3px 10px 1px rgba(20, 20, 20, 0.6);
  margin-top: 0.6em;
}
/* line 130, ../sass/partial/showcase.scss */
.showcase .showcase-item h2 {
  margin: 0.2em;
}
/* line 133, ../sass/partial/showcase.scss */
.showcase .showcase-item p {
  margin: 0.1em;
}
/* line 136, ../sass/partial/showcase.scss */
.showcase .showcase-item .thread-info {
  display: flex;
}
/* line 138, ../sass/partial/showcase.scss */
.showcase .showcase-item .thread-info p {
  margin-right: 1em;
}

/* line 10, ../sass/partial/buttons.scss */
.button, button {
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}

/* line 15, ../sass/partial/base.scss */
.main_chunck {
  display: flex;
  flex-direction: row;
}

/* line 20, ../sass/partial/base.scss */
ul.filter_control {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 23, ../sass/partial/base.scss */
ul.filter_control li.filter_button, ul.filter_control section#main_pade .ultility-bar ul.filters li.filter_button.active-filter, section#main_pade .ultility-bar ul.filters ul.filter_control li.filter_button.active-filter {
  padding: 0.6em 1.2em;
}
/* line 26, ../sass/partial/base.scss */
ul.filter_control li.filter_button:first-child, ul.filter_control section#main_pade .ultility-bar ul.filters li.filter_button.active-filter:first-child, section#main_pade .ultility-bar ul.filters ul.filter_control li.filter_button.active-filter:first-child {
  border-top-left-radius: 4px;
}
