@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
/* line 11, ../sass/partial/user_panel.scss */
.user_bar {
  box-sizing: border-box;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0px 2px 4px 1px rgba(10, 10, 10, 0.5);
  background: white;
}
/* line 18, ../sass/partial/user_panel.scss */
.user_bar * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 37, ../sass/partial/user_panel.scss */
.user .head .avatar {
  width: 2.4em;
  height: 2.4em;
  background: black;
  margin-right: 1em;
}

/* line 48, ../sass/partial/user_panel.scss */
.end .button-set button {
  margin-right: 1em;
}

/* line 54, ../sass/partial/user_panel.scss */
button.user_bar_button {
  box-sizing: border-box;
  height: 2em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  background: #5c6bc0;
  border-radius: 4px;
  color: white;
  border: none;
}

/* line 13, ../sass/partial/comment.scss */
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}
/* line 18, ../sass/partial/comment.scss */
.comment .avatar {
  position: relative;
  height: 5em;
  width: 5em;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}
/* line 26, ../sass/partial/comment.scss */
.comment .avatar .pos {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  height: 4.4em;
  width: 4.4em;
  background-color: black;
  border-radius: 50%;
}
/* line 36, ../sass/partial/comment.scss */
.comment .comment-entry {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 7em;
  width: 22em;
  background-color: #e6e6e6;
  border-radius: 0.4em;
  margin-left: 2em;
  box-shadow: 2px 3px 10px 2px rgba(20, 20, 20, 0.5);
  z-index: 10;
}
/* line 47, ../sass/partial/comment.scss */
.comment .comment-entry::before {
  position: absolute;
  top: 3em;
  left: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: #e6e6e6;
  transform: rotateZ(45deg);
  transform-origin: 50% 50%;
  z-index: 1;
}

/* line 76, ../sass/partial/comment.scss */
.comment-entry .head-bar {
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  background-color: #aaf;
  height: 1.3em;
  width: 100%;
}
/* line 82, ../sass/partial/comment.scss */
.comment-entry .head-bar .content {
  width: 100%;
}

/* line 26, ../sass/partial/login_panel.scss */
p, h1, h2, a {
  font-family: "Lato", sans-serif;
}

/* line 30, ../sass/partial/login_panel.scss */
input.login[type="text"], input.login[type="password"] {
  border-radius: 0.3em;
  border: none;
  padding: 0.3em;
  background: transparent;
  width: 12em;
}
/* line 36, ../sass/partial/login_panel.scss */
input.login[type="text"]:focus, input.login[type="password"]:focus {
  outline: none;
}

/* line 41, ../sass/partial/login_panel.scss */
button.login {
  background-color: #7777ff;
  border: none;
  padding: 0.8em;
  font-size: 1.2em;
  width: 100%;
}

/* line 49, ../sass/partial/login_panel.scss */
section.fullpage_cover {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 40;
  background: rgba(100, 100, 100, 0.4);
}

/* line 62, ../sass/partial/login_panel.scss */
.dialog {
  background-color: #eeeeee;
  width: 30em;
  height: 28em;
  border-radius: 0.4em;
  box-shadow: 0px 20px 80px 5px rgba(100, 100, 100, 0.7);
}
/* line 69, ../sass/partial/login_panel.scss */
.dialog .head {
  font-weight: bolder;
  box-sizing: content-box;
  height: 2.7em;
  background-color: #eeeeee;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
  border-top-right-radius: 0.4em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 89, ../sass/partial/login_panel.scss */
.dialog .dialog-body {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
}
/* line 93, ../sass/partial/login_panel.scss */
.dialog .dialog-body a.widget-select {
  padding: 0.3em;
  background-color: white;
  border: 2px solid blue;
}
/* line 97, ../sass/partial/login_panel.scss */
.dialog .dialog-body a.widget-select:first-child {
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  -moz-border-radius-bottomleft: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-right: none;
}
/* line 101, ../sass/partial/login_panel.scss */
.dialog .dialog-body a.widget-select:last-child {
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
  border-top-right-radius: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
/* line 105, ../sass/partial/login_panel.scss */
.dialog .dialog-body .input-widget {
  display: flex;
  flex-direction: column;
  align-items: left;
}
/* line 109, ../sass/partial/login_panel.scss */
.dialog .dialog-body .input-widget #signup-widget {
  display: none;
  flex-direction: column;
}

/* line 122, ../sass/partial/login_panel.scss */
#signin-widget {
  display: flex;
  flex-direction: column;
}
/* line 125, ../sass/partial/login_panel.scss */
#signin-widget .remember {
  display: flex;
  align-items: center;
}

/* line 133, ../sass/partial/login_panel.scss */
.input_back {
  background-color: white;
  width: 12em;
  border-radius: 4px;
  height: 1.4em;
  display: flex;
}
/* line 141, ../sass/partial/login_panel.scss */
.input_back:focus {
  outline: blue;
}
/* line 144, ../sass/partial/login_panel.scss */
.input_back .input_head {
  min-width: 3em;
  height: 1.4em;
  background: #64b5f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 161, ../sass/partial/login_panel.scss */
input#widget_type {
  opacity: 0;
}
/* line 163, ../sass/partial/login_panel.scss */
input#widget_type[disabled] ~ label {
  background: #aaaaaa;
}
/* line 169, ../sass/partial/login_panel.scss */
input#widget_type:checked ~ label #label-back:before {
  background: #fefefe;
  color: black;
}
/* line 173, ../sass/partial/login_panel.scss */
input#widget_type:checked ~ label #label-back:after {
  background: transparent;
  color: #cccccc;
}

/* line 183, ../sass/partial/login_panel.scss */
label#type_label {
  font-family: "Arimo", sans-serif;
}
/* line 185, ../sass/partial/login_panel.scss */
label#type_label #label-back {
  box-sizing: border-box;
  background: #26c6da;
  width: 8em;
  height: 1.8em;
  border-radius: 7px;
  display: flex;
  align-items: center;
  transition: background 0.8s;
}
/* line 194, ../sass/partial/login_panel.scss */
label#type_label #label-back:before {
  box-sizing: border-box;
  content: attr(data-checked);
  width: 50%;
  height: 100%;
  text-align: center;
  padding-top: 0.4em;
  transition: all 0.8s;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: #cccccc;
}
/* line 206, ../sass/partial/login_panel.scss */
label#type_label #label-back:after {
  box-sizing: border-box;
  content: attr(data-unchecked);
  width: 50%;
  height: 100%;
  text-align: center;
  padding-top: 0.4em;
  background: #fefefe;
  transition: background-color 0.8s;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 222, ../sass/partial/login_panel.scss */
button#Signup {
  margin-top: 0.8em;
}

/* line 226, ../sass/partial/login_panel.scss */
.feed-back, .warning {
  border-radius: 5px;
  background: #ef9a9a;
  box-sizing: border-box;
  padding-left: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
}
/* line 236, ../sass/partial/login_panel.scss */
.feed-back > i, .warning > i {
  color: #c62828;
}

/* line 241, ../sass/partial/login_panel.scss */
.alert {
  margin: 0;
  margin-left: 0.3em;
}

/* line 246, ../sass/partial/login_panel.scss */
.warning {
  background: #fff9c4;
}
/* line 249, ../sass/partial/login_panel.scss */
.warning > i {
  color: #ffeb3b;
}
/* line 252, ../sass/partial/login_panel.scss */
.warning p {
  margin: 0;
  margin-left: 0.3em;
}

/* line 49, ../sass/partial/comment_page.scss */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 55, ../sass/partial/comment_page.scss */
textarea {
  resize: none;
}

/* line 59, ../sass/partial/comment_page.scss */
.thread {
  box-sizing: border-box;
  position: relative;
  width: 39.5em;
  display: flex;
  align-items: flex-start;
  padding-bottom: 4em;
}
/* line 68, ../sass/partial/comment_page.scss */
.thread .avatar-back {
  height: 7em;
  width: 8em;
  background-color: #efefef;
  border-top-left-radius: 3.5em;
  border-bottom-left-radius: 3.5em;
  border: 2px solid #aaaaaa;
  border-right: none;
}
/* line 77, ../sass/partial/comment_page.scss */
.thread .avatar {
  margin-left: 0.5em;
  margin-top: 0.5em;
  height: 6em;
  width: 6em;
  background-color: black;
  border-radius: 50%;
}
/* line 84, ../sass/partial/comment_page.scss */
.thread .thread-entry {
  box-sizing: border-box;
  align-self: flex-start;
  min-height: 8em;
  width: 38em;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 0.5em;
}
/* line 95, ../sass/partial/comment_page.scss */
.thread::before {
  position: absolute;
  left: 3em;
  content: "";
  border-left: 2px solid black;
  height: 100%;
  z-index: -2;
}

/* line 108, ../sass/partial/comment_page.scss */
.thread-entry .thread-head {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.8em;
  padding-left: 1em;
  background-color: #18ffff;
}
/* line 118, ../sass/partial/comment_page.scss */
.thread-entry .thread-head * {
  padding-right: 1em;
}
/* line 122, ../sass/partial/comment_page.scss */
.thread-entry .thread-head .thread_options {
  padding: 0px;
  padding-right: 0.4em;
}
/* line 125, ../sass/partial/comment_page.scss */
.thread-entry .thread-head .thread_options a {
  padding-left: 0.1em;
  padding-right: 0.2em;
}
/* line 132, ../sass/partial/comment_page.scss */
.thread-entry .thread_items {
  display: flex;
}
/* line 135, ../sass/partial/comment_page.scss */
.thread-entry .thread-footer {
  display: flex;
  justify-content: space-between;
  height: 2em;
  align-items: center;
}
/* line 140, ../sass/partial/comment_page.scss */
.thread-entry .thread-footer .score_buttons {
  display: flex;
  align-items: center;
  padding-left: 1em;
}
/* line 144, ../sass/partial/comment_page.scss */
.thread-entry .thread-footer .score_buttons p, .thread-entry .thread-footer .score_buttons pre {
  margin-right: 1em;
}
/* line 148, ../sass/partial/comment_page.scss */
.thread-entry .thread-footer .thread-ultility {
  padding-right: 1em;
  display: flex;
}

/* line 155, ../sass/partial/comment_page.scss */
a#filter, a#sort, a#sort-order {
  position: relative;
  padding-left: 1em;
}
/* line 158, ../sass/partial/comment_page.scss */
a#filter ul, a#sort ul, a#sort-order ul {
  list-style: none;
  position: absolute;
  left: 1em;
  top: 0.4em;
  padding-left: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(20, 20, 20, 0.4);
}
/* line 166, ../sass/partial/comment_page.scss */
a#filter ul li, a#sort ul li, a#sort-order ul li {
  width: 8em;
  padding-left: 0.3em;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  z-index: 100;
}
/* line 173, ../sass/partial/comment_page.scss */
a#filter ul li:hover, a#sort ul li:hover, a#sort-order ul li:hover {
  background: #03a9f4;
}
/* line 178, ../sass/partial/comment_page.scss */
a#filter ul li:first-child, a#sort ul li:first-child, a#sort-order ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 182, ../sass/partial/comment_page.scss */
a#filter ul li:last-child, a#sort ul li:last-child, a#sort-order ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 186, ../sass/partial/comment_page.scss */
a#filter ul li a, a#sort ul li a, a#sort-order ul li a {
  display: flex;
}
/* line 189, ../sass/partial/comment_page.scss */
a#filter ul li p, a#sort ul li p, a#sort-order ul li p {
  margin: 0;
}
/* line 192, ../sass/partial/comment_page.scss */
a#filter ul li i, a#sort ul li i, a#sort-order ul li i {
  margin-right: 0.4em;
}

/* line 200, ../sass/partial/comment_page.scss */
.comment-block {
  position: relative;
  box-sizing: border-box;
  padding-left: 3em;
  display: flex;
  flex-direction: column;
}
/* line 206, ../sass/partial/comment_page.scss */
.comment-block::before {
  position: absolute;
  content: "";
  border-left: 2px solid #777777;
  height: 100%;
}

/* line 215, ../sass/partial/comment_page.scss */
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
/* line 220, ../sass/partial/comment_page.scss */
.comment .avatar {
  position: relative;
  height: 5em;
  width: 5em;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(10, 10, 10, 0.5);
  border-radius: 50%;
}
/* line 228, ../sass/partial/comment_page.scss */
.comment .avatar img.pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 233, ../sass/partial/comment_page.scss */
.comment .avatar .pos {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  height: 4.4em;
  width: 4.4em;
  background-color: black;
  border-radius: 50%;
}
/* line 244, ../sass/partial/comment_page.scss */
.comment .comment-entry {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 7em;
  width: 32em;
  background-color: #efefef;
  border-radius: 0.2em;
  margin-left: 1em;
  border: 1px solid #aaaaaa;
  z-index: 10;
}
/* line 256, ../sass/partial/comment_page.scss */
.comment .comment-entry::before {
  position: absolute;
  top: 50%;
  left: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: #efefef;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: 50% 50%;
  border-left: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  z-index: 1;
}

/* line 278, ../sass/partial/comment_page.scss */
.joint {
  height: 2.4em;
  width: 2.4em;
  background-color: #aaaaaa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -1px -1px 5px 2px rgba(10, 10, 10, 0.4), inset 1px 1px 5px 2px rgba(220, 220, 220, 0.9);
}
/* line 287, ../sass/partial/comment_page.scss */
.joint .joint-inner {
  height: 1.5em;
  width: 1.5em;
  background-color: #777777;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 297, ../sass/partial/comment_page.scss */
.joint .fold {
  background-color: green;
}
/* line 301, ../sass/partial/comment_page.scss */
.joint .unfold {
  background-color: red;
}

/* line 310, ../sass/partial/comment_page.scss */
.comment-entry .head-bar {
  position: relative;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  background-color: #29b6f6;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
}
/* line 319, ../sass/partial/comment_page.scss */
.comment-entry .head-bar p {
  margin: 0px;
  margin-left: 1em;
}
/* line 323, ../sass/partial/comment_page.scss */
.comment-entry .head-bar p.last_edit {
  color: #eeeeee;
}
/* line 326, ../sass/partial/comment_page.scss */
.comment-entry .head-bar i {
  color: black;
}
/* line 329, ../sass/partial/comment_page.scss */
.comment-entry .head-bar .button_collection {
  position: absolute;
  top: 8px;
  right: 60px;
  width: 10%;
  display: flex;
}
/* line 336, ../sass/partial/comment_page.scss */
.comment-entry .head-bar ul.comment-menu {
  position: absolute;
  list-style: none;
}
/* line 341, ../sass/partial/comment_page.scss */
.comment-entry .content {
  min-height: 4em;
  width: 100%;
}
/* line 345, ../sass/partial/comment_page.scss */
.comment-entry .comment_footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1em;
}
/* line 350, ../sass/partial/comment_page.scss */
.comment-entry .comment_footer .status {
  margin-left: 0.5em;
  display: flex;
}
/* line 353, ../sass/partial/comment_page.scss */
.comment-entry .comment_footer .status p {
  margin-right: 1em;
}

/* line 360, ../sass/partial/comment_page.scss */
.button_collection {
  position: relative;
  align-items: center;
}
/* line 362, ../sass/partial/comment_page.scss */
.button_collection .button_name_preview {
  position: absolute;
  top: 0em;
  width: 2.4em;
  font-size: 0.8em;
  height: 1.2em;
  background-color: white;
}
/* line 371, ../sass/partial/comment_page.scss */
.button_collection * {
  width: 1.5em;
}

/* line 378, ../sass/partial/comment_page.scss */
.content * {
  margin-left: 1em;
}
/* line 382, ../sass/partial/comment_page.scss */
.content .comment-view button.edit_button {
  border: 1px solid #555555;
  font-size: 1em;
  width: 2em;
}
/* line 387, ../sass/partial/comment_page.scss */
.content .comment-view button.edit_button i {
  margin: 0.2em;
}
/* line 391, ../sass/partial/comment_page.scss */
.content .comment-view:hover {
  background-color: #aaaaaa;
  border: 1px solid #ddddff;
}
/* line 394, ../sass/partial/comment_page.scss */
.content .comment-view:hover button.edit_button {
  display: block;
}
/* line 399, ../sass/partial/comment_page.scss */
.content .edit-view {
  display: none;
  box-sizing: border-box;
  flex-direction: column;
}
/* line 403, ../sass/partial/comment_page.scss */
.content .edit-view textarea.text-edit {
  box-sizing: border-box;
  margin-top: 0.5em;
  height: 3em;
  width: 80%;
}
/* line 409, ../sass/partial/comment_page.scss */
.content .edit-view .submit_buttons {
  align-self: flex-end;
}

/* line 415, ../sass/partial/comment_page.scss */
.thread_reply {
  postion: fixed;
  bottom: 0;
  background: #eeeeee;
  min-height: 8em;
  width: 40em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
}
/* line 425, ../sass/partial/comment_page.scss */
.thread_reply textarea#reply {
  height: 2em;
}
/* line 427, ../sass/partial/comment_page.scss */
.thread_reply textarea#reply:focus {
  height: 4em;
}
/* line 431, ../sass/partial/comment_page.scss */
.thread_reply .reply_buttons {
  align-self: flex-end;
}
/* line 434, ../sass/partial/comment_page.scss */
.thread_reply button {
  background: #aaaaff;
}

/* line 440, ../sass/partial/comment_page.scss */
i.fa-trash:hover, i.f-heart:hover {
  color: red;
}

/* line 445, ../sass/partial/comment_page.scss */
.thread-body {
  box-sizing: border-box;
  padding: 1em;
}
/* line 448, ../sass/partial/comment_page.scss */
.thread-body h3 {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

/* line 455, ../sass/partial/comment_page.scss */
.thread h3 {
  font-family: "PT Sans", sans-serif;
}
/* line 458, ../sass/partial/comment_page.scss */
.thread pre {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 464, ../sass/partial/comment_page.scss */
.comment-view pre {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 470, ../sass/partial/comment_page.scss */
.list_control {
  display: flex;
  position: relative;
}
/* line 473, ../sass/partial/comment_page.scss */
.list_control ul {
  list-style: none;
  position: absolute;
  left: 1em;
  top: 0.4em;
  padding-left: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(20, 20, 20, 0.4);
}
/* line 481, ../sass/partial/comment_page.scss */
.list_control ul li {
  width: 8em;
  padding-left: 0.3em;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  z-index: 100;
}
/* line 488, ../sass/partial/comment_page.scss */
.list_control ul li:hover {
  background: #03a9f4;
}
/* line 493, ../sass/partial/comment_page.scss */
.list_control ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 497, ../sass/partial/comment_page.scss */
.list_control ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 501, ../sass/partial/comment_page.scss */
.list_control ul li a {
  display: flex;
}
/* line 504, ../sass/partial/comment_page.scss */
.list_control ul li p {
  margin: 0;
}
/* line 507, ../sass/partial/comment_page.scss */
.list_control ul li i {
  margin-right: 0.4em;
}

/* line 514, ../sass/partial/comment_page.scss */
.reply_buttons {
  margin-top: 0.5em;
}
/* line 516, ../sass/partial/comment_page.scss */
.reply_buttons button {
  background: #aaaaff;
  border: none;
  padding: 0.4em;
  font-size: 1.2em;
}
